<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вакансии</title>
</head>
<body>
    <table>
    <tr>
        <th>Название вакансии</th>
        <th>Компания</th>
        <th>Зарплата</th>
        <th>Требования</th>
    </tr>
    {% for vacancy in vacancies %}
      <tr>
          <td>{{ vacancy.vacancy_name }}</td>
          <td>{{ vacancy.employer_name }}</td>
          <td>{{ vacancy.salary }}</td>
          <td>{{ vacancy.requirements }}</td>
      </tr>
      {% endfor %}
  </table>
</body>
</html>